.header {
    min-height: 5em;
    background-color: $color-header;
    font-size: 20px;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    .logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        img {
            height: 70px;
            width: auto;
            transition: all 1.8s;
        }
        img:hover {
            transform: rotateY(360deg);
        }
    }
    .barra {
        ul {
            li {
                list-style: none;
                display: inline-block;
                padding: 15px;
                a {
                    color: #fff;
                    transition: all 0.3s;
                }
                a:hover {
                    color: #33c7cccc;
                }
            }
        }
    }
}

.home {
    height: calc(100vh - 5em);
    width: 100%;
    background-color: #121213d0;
    display: flex;
    background-image: url(imagenes/diente_particula.jpg);
    .call {
        width: 50%;
        height: 50%;
        margin: 25px;
        h1 {
            text-align: left;
            padding:15px;
        }
        p {
            padding-top: 20px;
            padding-bottom: 30px;
            font-size: 25px;
            margin-bottom: 15px;
        }
        a {
            color: #3d5deb;
            font-weight: bold;
            border: solid 2px rgb(54, 123, 212);
            border-radius: 5px;
            padding: 5px;
            margin-left: 5px;
        }
        a:hover {
            background-color: #0c77be;
            color: #000;
            border-color: #0c77be;
            box-shadow: 6px 5px 15px;
        }
    }
}

.footer {
    min-height: 4em;
    background-color: $color-header;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    div {
        padding: 3px;
    }
    .seguinos p {
        color: rgb(0, 0, 0);
    }
    .derechos {
        font-size: 15px;
        color: rgb(0, 0, 0);
    }
    .redes a:visited {
        color: rgba(23, 173, 173, 0.562);
    }
    .redes a:link {
        color: rgba(23, 173, 173, 0.781);
    }
}